* {
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;
}
.container1{
    display: flex;
    flex-direction: row;
    height: 300px;
    width: 100%;
    margin-bottom: 50px;
}

.container1 > .d1{
    background-color: green;
    flex: 1;
}
.container1 > .d2{
    background-color: yellow;
    flex: 1;
}
.container1 > .d3{
    background-color: purple;
    flex: 1;
}

.container2{
    display: flex;
    flex-direction: row;
    height: 300px;
    width: 100%;
    margin-bottom: 50px;
}
.container2 > .d1{
    background-color: green;
    flex: 1;
}
.container2 > .d2{
    background-color: yellow;
    flex: 2;
}
.container2 > .d3{
    background-color: purple;
    flex: 1;
}

.container3{
    display: flex;
    flex-direction: row-reverse;
    height: 300px;
    width: 100%;
    margin-bottom: 50px;
}

.container3 > .d1{
    background-color: green;
    flex: 1;
}

.container3 > .d2{
    background-color: yellow;
    flex: 2;
}

.container3 > .d3{
    background-color: purple;
    flex: 1;
}

.container4{
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 300px;
}
.container4 > .d1{
    background-color: green;
    flex: 1;
    order: 1;
}
.container4 > .d2{
    background-color: yellow;
    flex: 2;
    order: 3;
}
.container4  >.d3{
    background-color: purple;
    flex: 1;
    order: 2;
}